html { background:#def0d4; padding:5%; }
body { background:#fff;  margin: 60px auto; width: 90%; }

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background:#fff;
    padding: 0.5em;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {  display: inline;  margin-right: 20px; }

/* Links */
a       { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

/* Headings */
h1      { font-size: 3.0em; font-family:'Helvetica', 'Arial', 'Sans-Serif'; background:#24661e; color:#fff; margin-bottom:0em; padding:0.5em 1em 3.0em; }
h2      { font-size: 2.5em; font-family:'Helvetica', 'Arial', 'Sans-Serif'; background:#24661e; color:#fff; margin-bottom:0em; padding:0.5em 1em 2.5em; }
h3      { font-size: 2.0em; font-family:'Helvetica', 'Arial', 'Sans-Serif'; padding:0.3em 1em; }
h4      { font-size: 1.7em; font-family:'Helvetica', 'Arial', 'Sans-Serif'; padding:0.3em 1em; }

p {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
    text-align: justify;
    padding:0.5em 1em;
}

blockquote {
    color: #333;
    font-size: 1.7em;
    font-weight: bold;
    font-style: italic;
}
blockquote:before { content: open-quote; }

blockquote {
    background: #fff;
    border-left: 10px solid #def0d4;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 1.7em;
    font-weight: bold;
    font-style: italic;
  }
blockquote:before {
    color: #def0d4;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    font-weight: bold;
    font-style: italic;
}
blockquote:after {     
    color: #def0d4;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    font-weight: bold;
    font-style: italic;
}
blockquote p { display: inline; }

footer      { border-top: 1px solid #d5d5d5; font-size: .8em; }

ul          { font-family:'Helvetica', 'Arial', 'Sans-Serif'; color:#333; font-size: 1.5em; text-align: justify; }
ul.posts    { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { margin: 0.5em 2em; padding: 1em 0; font-size: 1em; }

ol          { font-family:'Helvetica', 'Arial', 'Sans-Serif'; color:#333; font-size: 1.5em; text-align: justify; }
ol.posts    { margin: 20px auto 40px; font-size: 1.5em; }
ol.posts li { margin: 0.5em 2em; padding: 1em 0; font-size: 1em; }
